<ion-header>
  <ion-toolbar>
    <ion-title>
      簽名板
       <ion-button ion-button full color="danger" (click)="clearPad()">清除</ion-button>
       <ion-button ion-button full color="secondary" (click)="savePad()">儲存</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-row [ngClass]="{'drawing-active': isDrawing}">
    <!-- <ion-col> -->
      <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
    <!-- </ion-col> -->
 
  </ion-row>
 
</ion-content>